﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/sitil.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div>
        <img src="@Url.Content("~/Content/img/logo.jpg")" width="200"/>
        <a href="@Url.Action("Index","Home")">Anasayfa</a>
        <span>|</span>
        @Html.ActionLink("Hakkımızda","Hakkimizda","Home")
     </div>
    <div style="padding: 20px;">
        @RenderBody()
        <br />
        <hr />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in blandit metus, commodo pulvinar neque? Morbi accumsan nunc consequat magna sodales tincidunt. Praesent congue lacus felis, vitae cursus mauris dapibus at. Cras arcu dui, facilisis in tincidunt et, imperdiet ac metus. Praesent elit est, lobortis sit amet hendrerit eget, interdum in elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec venenatis dui eu lorem faucibus consectetur. Praesent vel turpis egestas, tincidunt orci in, pulvinar ipsum. Sed tempus turpis a massa aliquet, eu dignissim lacus pretium.

            Sed faucibus metus vitae sapien facilisis, id dignissim sem elementum. Nunc eu orci nec sapien mollis varius. Suspendisse condimentum maximus velit. Donec in est lectus. Cras eleifend porta turpis, nec blandit dolor maximus non. Mauris facilisis congue tortor, vel gravida odio ultricies ac? In faucibus nisi eleifend, molestie enim eget, dictum quam. Vestibulum a nisi quis nibh vestibulum ornare ut a ligula? Pellentesque vitae commodo lacus, id imperdiet nibh. Nunc hendrerit tempus ante, eu dapibus nulla vehicula porta!

        </p>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>